.sidebars.left-sidebar
  .left-sidebar__bio.bio
    .bio__img
      img(src='./assets/logo_icon.svg' alt='cat logo')
    .bio__name.settings-link(dataset-name= 'settingsPopup')
      |#{name}&apos;s Cotion
  .left-sidebar__holder
  .left-sidebar__notes
    each note in notes
      .left-sidebar__note-title(id=note.name)= "> " + note.name
