node_modules/
js/
.idea/
public/components/Auth/compiled/
public/components/NoteContent/compiled/
public/components/Enter/compiled/
public/components/LeftSideBar/compiled/
public/components/Settings/compiled/
views/
