@import 'components/Auth/Auth.css';
@import 'components/LeftSideBar/LeftSideBar.css';
@import 'components/NoteContent/NoteContent.css';
@import 'components/Settings/Settings.css';

:root {
    --input-form-fill-color: rgba(201, 201, 201, 0.42);
    --btn-text-color: rgb(0, 0, 0);
    --btn-background-color: #FAFFD6;
    --btn-border-color: #FFF170;
    --btn-background-hover-color: #F6FFB8;
    --notion-sidebar-width: 50vh;

    --page-sidebar-border-color : #fff170;
    --page-sidebar-color: rgba(0, 0, 0, 0.8);
}

body {
    position: relative;
}

* {
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

.notion__whole__page {
    display: flex;
    flex-direction: row;
}
