* {
  font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

:root {
  --notion-sidebar-width: 50vh;
}

.tmp_navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #FFFDEB;
}

.notion__sidebar {
  background-color: #FFFDEB;
  width: var(--notion-sidebar-width);
  height: 100vh;
  position: relative;
  flex-grow: 2 1 1;
}

.notion__sidebar__bio {
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1px;
}

.notion__sidebar__bio:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.notion__sidebar__bio__img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 4px;
}

.notion__sidebar__bio__profilename {
  display: flex;
  flex-direction: row;
}

.notion__sidebar__bio__profilename__switch {
  height: 15px;
  width: 15px;
  margin-left: 10px;
  margin-top: 1px;
  opacity: 30%;
}

.notion__sidebar__bio__colapser {
  opacity: 60%;

  width: 15px;
  height: 15px;
  padding: 4px;
  border-radius: 4px;
}

.notion__sidebar__bio__colapser:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.notion__sidebar__navigation {
  width: var(--notion-sidebar-width);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  opacity: 60%;
  font-size: 15px;
}

.notion__sidebar__navigation__item {
  width: var(--notion-sidebar-width);

  /* width: 100%; */
  padding: 3px;
}

.notion__sidebar__navigation__item:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.notion__sidebar__deathnote {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  align-items: center;
  margin: 20px 0 0 10px;

  opacity: 60%;
  font-size: 15px;
  height: 50%;
}

.notion__sidebar__deathnote__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.notion__sidebar__deathnote__item:hover {
  background-color: rgba(55, 53, 47, 0.08);
}
.notion__sidebar__deathnote__item__action {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  width: 50px;
}

.notion__sidebar__deathnote__item__action_item {
  height: 15px;
  width: 15px;
  margin: 4px;
  background-color: rgba(55, 53, 47, 0.08);
}

.notion__sidebar__deathnote__basics {
  margin-top: 20px;
  width: 100%;
  height: 100px;
}
.notion__sidebar__newpage {
  position: fixed;
  width: var(--notion-sidebar-width);
  bottom: 0;
}

.notion__sidebar__newpage__container {
  opacity: 60%;
  padding: 15px;
  display: flex;
  padding: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: solid rgb(68, 57, 57) 1px;
}

.notion__sidebar__newpage__container__plus {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.notion__whole__page {
  display: flex;
  flex-direction: row;
}

.notion__content {
  /* width: calc(100% - var(--notion-sidebar-width)); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notion__content__navbar {
  display: flex;
  padding: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1px;
}

.notion__content__navbar__docname {
  height: 15px;

  border-radius: 4px;
  display: flex;
  flex-direction: row;

  margin-right: 10px;
  margin-left: 10px;
  margin-top: 1px;

  padding: 4px;

  opacity: 60%;
}

.notion__content__navbar__docname:hover {
  background-color: rgba(55, 53, 47, 0.08);
}

.notion__content__navbar__actions {
  display: flex;
  flex-direction: row;
}

.notion__content__navbar__actions__item {
  opacity: 60%;
  height: 15px;
  border-radius: 4px;
}

.notion__content__document__title {
  padding: 0 0px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notion__content__document__itself {
  padding: 0 0px 0 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text_big {
  font-size: 30px;
}

.text_regular {
  /* width: 70%; */
  border: solid 0px white;
}

.text_big:focus {
  outline: 0;
}

.text_regular:focus {
  outline: 0;
}

.logo {
  display: block;
  margin: 0 auto;
}

.signup {
  display: block;
  position: absolute;
  width: 100%;
  height: 710px;
  padding-top: 4%;
}

.login {
  display: block;
  position: absolute;
  width: 100%;
  height: 600px;
  padding-top: 8%;
}

.login-form, .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 25px;
}

input {
  background: var(--input-form-fill-color);
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
  line-height: 28px;
  border-radius: 4px;
  padding: 4px 10px;
  margin-top: 3px;
  border: none;
  outline: none;
  opacity: 80%;
}

.form > input:focus {
  opacity: 70%;
}

.bad-input {
  display: block;
  margin-top: 4px;
  font-size: smaller;
  color: red;
  opacity: 75%;
}

.form {
  width: 360px;
}

.submit-btn {
  transition: background 20ms ease-in 0s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 36px;
  border-radius: 4px;
  color: var(--btn-text-color);
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  background: var(--btn-background-color);
  width: 360px;
  margin-top: 25px;
  border: 1px solid var(--btn-border-color);
}

.submit-btn:hover {
  background: var(--btn-background-hover-color);
}

.my-label {
  display: block;
  margin-top: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
  color: black;
  opacity: 50%;
}

.alternative-variant {
  margin-top: 15px;
  opacity: 50%;
  text-decoration: none;
  color: black;
}

.alternative-variant:hover {
  text-decoration: underline;
}
