.content__navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
  
  .navbar__logout-btn {
    font-weight: 400;
    width: 100px;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    color: var(--btn-text-color);
    font-size: 17px;
    background: var(--btn-background-color);
    border: 1px solid var(--btn-border-color);
  }
  .navbar__title {
    width: 70vw;
    margin: 27px 0px 50px 62px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--page-sidebar-color);
  }
  
  .content__spaceholder {
    height: 30px;
  }
  
  .content__text {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin: 27px 0px 50px 62px;
    font-size: 24px;
    font-weight: 400;
    line-height: 144%;
    letter-spacing: 0.01em;
    color: var(--page-sidebar-color);
    opacity: 0.7;
  }
