.page__content__navbar
  .page__content__navbar__title
    each book in bookStore
      div= book.name
  button
    #logout Logout
.page__content__spaceholder
.page__content__text
  each book in bookStore
    div= book.body
