.page__content__navbar
  .page__content__navbar__title
    div(id="title")= name
  button#logout.page__content__navbar__logout_button  Logout 
.page__content__spaceholder
.page__content__text
  div(id="body")= body
