.notion__content
  .notion__content__navbar
    .notion__content__navbar__docname
      | user document freevole name
    .notion__content__navbar__actions
  .notion__content__document__title
    .text_big(spellcheck='true' placeholder=' ' data-content-editable-leaf='true' contenteditable='true') Name title
  .notion__content__document__itself
    each book in bookStore
      div= book.title
      //- .text_regular(spellcheck='true' placeholder=' ' data-content-editable-leaf='true' contenteditable='true')
