.page {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.page__sidebar {
    background-color: #fffdeb;
    font-size: 24px;
    border: 1px solid #fff170;
    height: 100vh;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 144%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
}

.page__sidebar__bio {
    margin: 24px 66px 24px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page__sidebar__bio__name {
    padding-left: 15px;
    font-family: 'Inter';
}

.page__sidebar__holder {
    height: 148px;
}

.page__sidebar__notes {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 14px;
}
