link(rel='stylesheet' href='styles.css')

.notion__sidebar
  .notion__sidebar__bio
    .notion__sidebar__bio__profilename
      div
        img.notion__sidebar__bio__img(src='https://lh3.googleusercontent.com/a-/AOh14Ggo62gr8BTTecwfg3uGVTFoxat5d2cDxL59mUTWrA=s100')
      div
        |#{name}&apos;s Notion
      svg.notion__sidebar__bio__profilename__switch(viewbox='-1 -1 9 11')
        path#path0_stroke(d='M 3.5 0L 3.98809 -0.569442L 3.5 -0.987808L 3.01191 -0.569442L 3.5 0ZM 3.5 9L 3.01191 9.56944L 3.5 9.98781L 3.98809 9.56944L 3.5 9ZM 0.488094 3.56944L 3.98809 0.569442L 3.01191 -0.569442L -0.488094 2.43056L 0.488094 3.56944ZM 3.01191 0.569442L 6.51191 3.56944L 7.48809 2.43056L 3.98809 -0.569442L 3.01191 0.569442ZM -0.488094 6.56944L 3.01191 9.56944L 3.98809 8.43056L 0.488094 5.43056L -0.488094 6.56944ZM 3.98809 9.56944L 7.48809 6.56944L 6.51191 5.43056L 3.01191 8.43056L 3.98809 9.56944Z')
    .notion__sidebar__bio__colapser
      div
        svg(viewbox='0 0 14 14')
          path(d='M7 2.225L5.775 1L0 7.125L5.775 13.25L7 12.025L2.45 7.125L7 2.225ZM14 2.225L12.775 1L7 7.125L12.775 13.25L14 12.025L9.45 7.125L14 2.225Z')
  .notion__sidebar__navigation
    .notion__sidebar__navigation__item Quick Find
    .notion__sidebar__navigation__item All Updates
    .notion__sidebar__navigation__item Settings &amp; Members
  .notion__sidebar__deathnote
    .notion__sidebar__deathnote__item
      .notion__sidebar__deathnote__item__bio
        | Note&apos;s Name &amp; Pic
      .notion__sidebar__deathnote__item__action
        .notion__sidebar__deathnote__item__action_item
          svg(viewbox='0 0 16 16')
            path(d='M7.977 14.963c.407 0 .747-.324.747-.723V8.72h5.362c.399 0 .74-.34.74-.747a.746.746 0 00-.74-.738H8.724V1.706c0-.398-.34-.722-.747-.722a.732.732 0 00-.739.722v5.529h-5.37a.746.746 0 00-.74.738c0 .407.341.747.74.747h5.37v5.52c0 .399.332.723.739.723z')
        .notion__sidebar__deathnote__item__action_item
          svg(viewbox='0 0 26 26')
            path(d='M7.19922 13.2549C7.19922 12.0625 6.23242 11.1064 5.01855 11.1064C3.83691 11.1064 2.87012 12.0625 2.87012 13.2549C2.87012 14.4473 3.83691 15.4033 5.01855 15.4033C6.23242 15.4033 7.19922 14.4473 7.19922 13.2549ZM15.1484 13.2549C15.1484 12.0625 14.1924 11.1064 13 11.1064C11.8184 11.1064 10.8623 12.0625 10.8623 13.2549C10.8623 14.4473 11.8184 15.4033 13 15.4033C14.1924 15.4033 15.1484 14.4473 15.1484 13.2549ZM23.1299 13.2549C23.1299 12.0625 22.1738 11.1064 20.9814 11.1064C19.7676 11.1064 18.8115 12.0625 18.8115 13.2549C18.8115 14.4473 19.7676 15.4033 20.9814 15.4033C22.1738 15.4033 23.1299 14.4473 23.1299 13.2549Z')
    .notion__sidebar__deathnote__item
      .notion__sidebar__deathnote__item__bio
        | Note&apos;s Name &amp; Pic
      .notion__sidebar__deathnote__item__action
        .notion__sidebar__deathnote__item__action_item
          svg(viewbox='0 0 16 16')
            path(d='M7.977 14.963c.407 0 .747-.324.747-.723V8.72h5.362c.399 0 .74-.34.74-.747a.746.746 0 00-.74-.738H8.724V1.706c0-.398-.34-.722-.747-.722a.732.732 0 00-.739.722v5.529h-5.37a.746.746 0 00-.74.738c0 .407.341.747.74.747h5.37v5.52c0 .399.332.723.739.723z')
        .notion__sidebar__deathnote__item__action_item
          svg(viewbox='0 0 26 26')
            path(d='M7.19922 13.2549C7.19922 12.0625 6.23242 11.1064 5.01855 11.1064C3.83691 11.1064 2.87012 12.0625 2.87012 13.2549C2.87012 14.4473 3.83691 15.4033 5.01855 15.4033C6.23242 15.4033 7.19922 14.4473 7.19922 13.2549ZM15.1484 13.2549C15.1484 12.0625 14.1924 11.1064 13 11.1064C11.8184 11.1064 10.8623 12.0625 10.8623 13.2549C10.8623 14.4473 11.8184 15.4033 13 15.4033C14.1924 15.4033 15.1484 14.4473 15.1484 13.2549ZM23.1299 13.2549C23.1299 12.0625 22.1738 11.1064 20.9814 11.1064C19.7676 11.1064 18.8115 12.0625 18.8115 13.2549C18.8115 14.4473 19.7676 15.4033 20.9814 15.4033C22.1738 15.4033 23.1299 14.4473 23.1299 13.2549Z')
    .notion__sidebar__deathnote__item
      .notion__sidebar__deathnote__item__bio
        | Note&apos;s Name &amp; Pic
      .notion__sidebar__deathnote__item__action
        .notion__sidebar__deathnote__item__action_item
          svg(viewbox='0 0 16 16')
            path(d='M7.977 14.963c.407 0 .747-.324.747-.723V8.72h5.362c.399 0 .74-.34.74-.747a.746.746 0 00-.74-.738H8.724V1.706c0-.398-.34-.722-.747-.722a.732.732 0 00-.739.722v5.529h-5.37a.746.746 0 00-.74.738c0 .407.341.747.74.747h5.37v5.52c0 .399.332.723.739.723z')
        .notion__sidebar__deathnote__item__action_item
          svg(viewbox='0 0 26 26')
            path(d='M7.19922 13.2549C7.19922 12.0625 6.23242 11.1064 5.01855 11.1064C3.83691 11.1064 2.87012 12.0625 2.87012 13.2549C2.87012 14.4473 3.83691 15.4033 5.01855 15.4033C6.23242 15.4033 7.19922 14.4473 7.19922 13.2549ZM15.1484 13.2549C15.1484 12.0625 14.1924 11.1064 13 11.1064C11.8184 11.1064 10.8623 12.0625 10.8623 13.2549C10.8623 14.4473 11.8184 15.4033 13 15.4033C14.1924 15.4033 15.1484 14.4473 15.1484 13.2549ZM23.1299 13.2549C23.1299 12.0625 22.1738 11.1064 20.9814 11.1064C19.7676 11.1064 18.8115 12.0625 18.8115 13.2549C18.8115 14.4473 19.7676 15.4033 20.9814 15.4033C22.1738 15.4033 23.1299 14.4473 23.1299 13.2549Z')
    .notion__sidebar__deathnote__basics
      .notion__sidebar__deathnote__item
        .notion__sidebar__deathnote__item__bio
          | Templates
      .notion__sidebar__deathnote__item
        .notion__sidebar__deathnote__item__bio
          | Import
      .notion__sidebar__deathnote__item
        .notion__sidebar__deathnote__item__bio
          | Trash
  .notion__sidebar__newpage
    .notion__sidebar__newpage__container
      .notion__sidebar__newpage__container__plus
        svg(viewbox='0 0 16 16')
          path(d='M7.977 14.963c.407 0 .747-.324.747-.723V8.72h5.362c.399 0 .74-.34.74-.747a.746.746 0 00-.74-.738H8.724V1.706c0-.398-.34-.722-.747-.722a.732.732 0 00-.739.722v5.529h-5.37a.746.746 0 00-.74.738c0 .407.341.747.74.747h5.37v5.52c0 .399.332.723.739.723z')
      div
        | New page
