/*.page {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

.sidebars {
    background-color: #fffdeb;
    border: 1px solid #fff170;
}
.left-sidebar {
    font-size: 24px;
    height: 100vh;
    font-weight: 400;
    font-size: 24px;
    line-height: 144%;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
}

.left-sidebar__bio {
    margin: 24px 66px 24px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bio__name {
    padding-left: 15px;
    cursor: pointer;
}

.left-sidebar__holder {
    height: 148px;
}

.left-sidebar__notes {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 14px;
    cursor: pointer;
}

.left-sidebar__notes > div:hover {
    background-color: #fffbd5;
}
