.page__sidebar
  .page__sidebar__bio
    .page__sidebar__bio__img
      img(src='../img/facebook_profile_image.svg' alt='cat logo')
    .page__sidebar__bio__name
      |#{name}&apos;s Notion
  .page__sidebar__holder
  .page__sidebar__notes
    each book in bookStore
      div= "> " + book.name