.content
  .content__navbar.navbar
    input.navbar__title#title( value= name)
    input.submit-btn.navbar__button.save(type='submit' value= 'Save' data-section='save')
    input.submit-btn.navbar__button.logout(type='submit' value= 'Logout' data-section='logout')
  .content__spaceholder
  .content__text.note-content
    textarea.note-content__input(id="body") #{body}
