.content
  .content__navbar.navbar
    #title.navbar__title #{name}
    input.submit-btn.navbar__logout-btn.logout(type='submit' value= 'Logout' data-section='logout')
  .content__spaceholder
  .content__text.note-content
    div(id="body")= body
