@import 'consts/consts.scss';
@import 'components/Auth/Auth.scss';
@import 'components/LeftSideBar/LeftSideBar.scss';
@import 'components/NoteContent/NoteContent.scss';
@import 'components/Settings/Settings.scss';

body {
    position: relative;
}

* {
    font-family: inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

.notion__whole__page {
    display: flex;
    flex-direction: row;
}
