body.lock {
    overflow: hidden;
}

.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    /*bottom: 0;*/

    font-size: 20px;
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease 0s;

    overflow-y: auto;
    overflow-x: hidden;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    box-sizing: border-box;

}
.popup__content {
    display:flex;
    flex: 1 1 20px;
    align-content: flex-start;
    background-color: #fff;
    color: #000;

    transition: all 0.2s ease 0s;
    opacity:1;
    /*transform: translate(0px, -100%);*/

}

.menu-content {
    max-width: 1024px;
    min-width: 300px;
    /*width: 100%;*/

    max-height: 400px;
    min-height: 720px;
    /*height: 100%;*/
}

.menu-content__sidebar {
    flex: 0 0.2 300px;
}

.menu-content__settings {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1024px;
    margin: 60px 0;
}

.close {
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color:  rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sidebar__username {
    background-color:  rgba(0, 0, 0, 0.25);
    margin: 0 0 2px;
    padding: 3px 10px;
    cursor:default;
}

.sidebar__tab:hover {
    background-color:  rgba(0, 0, 0, 0.25);
}

.sidebar__tab {
    padding: 10px;
    cursor:default;
    display:flex;
    gap: 20px;
    text-align: left;
    font-size: 22px;
    align-items: center;
}
.sidebar__tab_icon {
    flex: 0 0 auto;
    order: -1;
    margin-left: 2vw;

}

.settings__title {
    font-size: 25px;
    text-decoration: underline;
    padding: 0 60px;
    cursor: default;
    margin-bottom: 30px;
}

.settings__avatar{
    box-sizing: border-box;

    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 80px;
    cursor: pointer;
    display: table;
    background-size: cover!important;
    background: #f4f4f4 no-repeat center center;
    box-shadow: 0 3px 5px rgba(0,0,0, 0.35);
}

.settings__avatar:hover {
    filter: grayscale(30%) brightness(90%);
}

.settings__avatar.hasImage:hover .settings__avatar_hover {
    opacity: 1;
}

.settings__avatar.dragging {
    filter: grayscale(80%) brightness(90%);
}

.settings__avatar.hasImage .settings__avatar_hover{
    opacity: 0;
    pointer-events: none;
    user-select: none;
}
.settings__avatar.dragging.hasImage {
}

.settings__avatar .settings__avatar_hover {
    font-size:80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    color: grey;
    opacity: 1;
}

.settings__avatar.dragging.hasImage .settings__avatar_hover {
    filter: none;
    opacity: 1;

}
/*.settings__avatar input {*/
/*    opacity: 0.0;*/
/*    visibility: hidden;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 50%;*/

/*}*/
/*.avatar {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border: 1px solid rgba(0, 0, 0, 0.25);*/
/*    border-radius: 50%;*/
/*    !*margin-bottom: 50px;*!*/

/*}*/

/*.avatar:hover  {*/
/*    transition: 0.5s;*/
/*    filter: grayscale(80%) brightness(90%);*/
/*    cursor: pointer;*/
/*}*/

/*.avatar__shadow {*/
/*    background: rgba(0, 0, 0, 0.25);*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 2;*/

/*}*/
.setting-field {
    display: flex;
    margin: 20px 0px;
    justify-content:space-around;
    flex-shrink: 1;
}

/*.setting-field {*/
/*    display:grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    grid-template-rows: min-content min-content;*/
/*    margin: 20px 0px;*/
/*}*/
.setting-field__label {
    /*grid-row: 1;*/
    /*grid-column: 1 ;*/
    flex: 0 1 130px;
    /*padding: 0 60 0 60px;*/
}

.setting-field__input {
    flex: 0 1 auto;

    align-self: center;
    flex-basis: 35%;
    color: black;

    display:flex;
    flex-direction: column;
    align-items: center;
}
.setting-field__input input {
    text-align: center;

}

.setting-field__bad-input {
    font-size: 14px;
}

.settings__buttons {
    display: flex;
    /*justify-content: flex-start;*/
    /*margin-left: 40px;*/
    gap: 0 30px;
}

.settings__buttons_save {
    flex: 0 0 100px;
    padding:0 30px;
    margin: 25px -50px;
}
.settings__buttons_logout {
    flex: 0 0 100px;
    padding:0 30px;
    margin: 20px -30px;
    background-color: rgba(234, 202, 196, 0.78);
    border-color: #eacac4;
}
.settings__buttons_logout:hover {
    background-color: rgba(234, 202, 196, 0.9);
}
