.popup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    background-color: var(--popup-background-color);
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all var(--popup-animation-time) ease 0s;

    overflow-y: auto;
    overflow-x: hidden;
}

body.lock {
    overflow: hidden;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    box-sizing: border-box;

}
.popup__content {
    display:flex;
    flex: 1 1 20px;
    align-content: flex-start;
    background-color: white;
    color: black;

    transition: all var(--popup-animation-time) ease 0s;
    opacity: 1;
    transform: translate(0px, -100%);

}

.menu-content {
    max-width: 1024px;
    min-width: 300px;

    max-height: 400px;
    min-height: 720px;
}

.menu-content__sidebar {
    flex: 0 0.2 300px;
}

.menu-content__settings {
    flex: 1 1 1024px;
    margin: 60px 0;
}

.close {
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color:  var(--settings-sidebar-color);
}

.sidebar__username {
    margin: 0 0 2px;
    padding: 3px 10px;
    background-color:  var(--settings-tab-hover-color);
    cursor:default;
}

.sidebar__tab:hover {
    background-color:  var(--settings-tab-hover-color);
}

.sidebar__tab {
    display:flex;
    gap: 20px;
    align-items: center;
    text-align: left;
    padding: 10px;
    font-size: 22px;
    cursor:default;
}
.sidebar__tab_icon {
    flex: 0 0 auto;
    order: -1;
    margin-left: 2vw;
}

.settings__title {
    margin-bottom: 30px;
    padding: 0 60px;
    font-size: 25px;
    text-decoration: underline;
    cursor: default;
}

.settings__avatar{
    position: relative;
    width: 150px;
    height: 150px;

    margin: 0 80px;
    display: table;
    box-sizing: border-box;
    border-radius: 100%;
    cursor: pointer;

    background-size: cover!important;
    background: var(--settings-noavatar-background-color) no-repeat center center;
    box-shadow: 0 3px 5px var(--settings-avatar-shadow-color);
}

#mediaFile {
    position: absolute;
    top: -1000px;
}

.settings__avatar:hover {
    filter: var(--settings-avatar-hover-filter);
}

.settings__avatar.hasImage:hover .settings__avatar_hover {
    opacity: 1;
}

.settings__avatar.dragging {
    filter: var(--settings-avatar-hover-filter);
}

.settings__avatar.hasImage .settings__avatar_hover{
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.settings__avatar .settings__avatar_hover {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;

    font-size:80px;
    color: grey;
    opacity: 1;
}

.settings__avatar.dragging.hasImage .settings__avatar_hover {
    filter: none;
    opacity: 1;
}

.setting-field {
    display: flex;
    flex-shrink: 1;
    justify-content:space-around;
    margin: 20px 0px;
}

.setting-field__input {
    flex: 0 1 35%;
    align-self: center;

    display:flex;
    flex-direction: column;
    align-items: center;

    color: black;
}

.setting-field__label {
    flex: 0 1 130px;
}
.setting-field__input input {
    text-align: center;
}

.setting-field__bad-input {
    font-size: 14px;
}

.settings__buttons {
    display: flex;
    gap: 0 30px;
}

.settings__buttons_save {
    flex: 0 0 100px;
    margin: 25px -50px;
    padding:0 30px;
}
.settings__buttons_logout {
    flex: 0 0 100px;
    margin: 20px -30px;
    padding:0 30px;

    background-color: var(--btn-negative-background-color);
    border-color: var(--btn-negative-border-color);
}
.settings__buttons_logout:hover {
    background-color: var(--btn-negative-background-hover-color);
}
