.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    bottom: 0;

    font-size: 20px;

}

.popup__body {
    min-height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;

}

.menu-content {
    display:flex;
    flex: 1 1 20px;

    background-color: #fff;
    color: #000;
    max-width: 1024px;
    min-width: 300px;
    /*width: 100%;*/

    max-height: 400px;
    min-height: 720px;
    /*height: 100%;*/
    /*padding: 5px;*/

    align-content: flex-start;

}

.menu-content__sidebar {
    flex: 0.2 0.2 350px;
}

.menu-content__settings {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1024px;
    margin: 60px 0px;
}

.close {
    position: relative;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color:  rgba(0, 0, 0, 0.2);
    text-align: center;
}

.sidebar__username {
    background-color:  rgba(0, 0, 0, 0.25);
    margin: 0 0 2px;
    padding: 3px 10px;

}

.sidebar__tab:hover {
    background-color:  rgba(0, 0, 0, 0.25);

}

.sidebar__tab {
    padding: 10px;
}

.settings__title {
    font-size: 25px;
    text-decoration: underline;
    margin-bottom: 50px;
    padding: 0px 60px;
}

.setting-field {
    display: flex;
    margin: 20px 0px;
    justify-content:space-around;
    flex-shrink: 1;
}
.setting-field__label {
    flex: 0 1 230px;
    /*padding: 0 60 0 60px;*/
}

.setting-field__input {
    flex: 0 1 auto;

    align-self: center;
    flex-basis: 35%;
    text-align: center;
    color: black;
}

.setting-field__input.placeholder {
}

.settings__buttons {
    display: flex;
    /*justify-content: flex-start;*/
    /*margin-left: 40px;*/
    gap: 0 30px;
}

.settings__buttons_save {
    flex: 0 0 100px;
    padding:0 30px;
    margin: 25px -50px;
}
.settings__buttons_logout {
    flex: 0 0 100px;
    padding:0 30px;
    margin: 20px -30px;
    background-color: rgba(234, 202, 196, 0.78);
    border-color: #eacac4;
}
.settings__buttons_logout:hover {
    background-color: rgba(234, 202, 196, 0.9);
}
